<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Lenovo/IdeaProjects/biletariaAutomation/src/test/java/h20/biletariaautomation/MainPageTest.java">
        <classes><class name="h20.biletariaautomation.MainPageTest"><methods>
            <include name="pageSource"/>
        </methods></class></classes>
    </test></suite>